header {
    position: fixed;
    left:0;
    right:0;
    top:0;
    height:76px;
    line-height: 76px;
    display: flex;
    align-content: flex-start;
    box-shadow: 0 1px 3px #eee;
    justify-content: space-between;
}

.search-box-container {
    algin-self: flex-end;
    line-height: 76px;
    vertical-align: middle;
}

.search-box {
    width: 206px;
    height: 42px;
    margin-right: 20px;
    border-radius: 22px;
    width: 206px;
    height: 42px;
    border: 1px solid #111;
    display: inline-block;
    line-height: 76px;
}

i.icon {
    border-radius: 22px;
    height: 44px;
    min-width: 44px;
    line-height: 44px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.icon-blue {
    color: white;
    background-color: #81a8ca;
}

.icon-white {
    color: #111;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.logo {
    border-right: 1px solid #cccccc;
    min-width: 76px;
    text-align: center;
}

.avatar {
    background-image: url(../resources/p0.jpg);
    background-size: 100% 100%;
}

.content {
    display: flex;
    margin-top: 76px;
}

@media (max-width: 520px) {
    .menu-item {
        display: none;
    }

    .content {
        flex-direction: column;
    }
}

@media (min-width: 521px) and (max-width: 900px) {
    .menu-item {
        display: inline-block;
    }
}

@media (min-width: 901px) {
    .menu-item {
        display: inline-block;
    }
    .content {
        align-items: stretch;
        flex-direction: row;
    }
}




